<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCS</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/navbar.css">
</head>
<body>
    <!--Las barras de navegacion del sistema-->
    <nav class="navbar_d">
        <div class="content_navbar_d">
            <div class="navbar_logo_d">
                <img src="./images/logo.png" alt="Logo" class="logo">
                <strong>DialyCareSystem</strong>
            </div>
            <ul class="navbar_links">
                <li class=""><a class = "nav-link active-link" href="#">Registro <br> diario</a></li>
                <li><a class = "nav-link" href="#">Historial <br> de Ciclos</a></li>
                
            </ul>
        </div>
    </nav>
    <!--La barra de informacion del usuario-->
    <section class="navbar_p">
        <div class="content_navbar_p">
            <div class="navbar_logo_p">
                <div class="user_image">
                    U
                </div>
                <strong>Usuario</strong>
            </div>
            <ul class="navbar_links">
                <li class="pill">DPCA (Manual)</li>
                <li>
                    <div class="date">
                        <label>Fecha de registro:</label>
                        <div class="date_value">19/09/2026</div>
                    </div>
                </li>
                
            </ul>
            <ul class="navbar_links right">
                
                <li><a class = "nav-link" href="#">Salir</a></li>
                
            </ul>
        </div>
    </section>
    <!--Fin de las barras de navegacion del sistema-->
</body>
</html>